*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(201, 206, 211,0.4);
}
.cestion-title,.cestion-title-2,.cestion-title-1{
    color: rgb(92, 92, 226);
}
.cestion-title-1{
    font-size: 28px;
}
.cestion-title-2{
    padding: 1em;
    margin: 1em;
}
.first{
    padding: 1em;
    margin: 1em;
}
section{
    background-color: white;
    
    border-radius: 10px;
}
.container,.first-2{
    padding: 1em;
    margin: 1em;
}
main{
    width: 900px;
    max-width: 90%;
    margin: 0px auto;
}
    
.top-players, .bloges, .courses{
    display: grid;
    
    grid-gap: 30px;
    margin-top: 20px;
    place-items: center;
}
.bloges{
    grid-template-columns: repeat(2,1fr);
}
.top-players, .courses {
    grid-template-columns: repeat(3,1fr);

}

.player, .blog{
    display: flex;
    align-items: center;
}
.player img{
    height: 50px;
    margin-right: 20px;
}
.thumbnail img{
    height: 150px;
    margin-right: 20px;
}
.bloge-info p a{
    text-decoration: none;
    
}
.fild{
    color: goldenrod;
   

}
.course-info{
    display: flex;
    
}
.name a{
    color: rgba(255, 0, 0,0.8);
}
span.renam{
    padding: 0.8em;
    color: rgba(255, 0, 0,0.8);
}
span.hr{
    color: rgba(255, 0, 0,0.8);
}
.far{

 color: rgba(255, 0, 0,0.8);
}
.course img{
    width: 200px;
}
.unfild{
    color: lightslategray;
}
.course-detite p a{
    text-decoration: none;
}
.hr{
    border-top: 1px solid rgba(119, 136, 153,0.5);
   
}


@media (max-width:992px) {
    .top-players,.courses{
        grid-template-columns: repeat(2,1fr);
    }
    .bloges{
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media (max-width:668px) {
    .top-players,.courses{
        grid-template-columns: repeat(1,1fr);
    }
    .blog{
        display: block;
    }
    
}